body{
    margin: 0;
    background-image: url(26.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-size: 6rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
    width: 100%;
    color: white;
}